* {
	margin: 0;
	padding: 0;
}

body {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.board-container {
}
.rank-notation {
}
.file-notation {
}

.board {
	outline: 5px solid black;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(8, 1fr);
}

.square.black {
	background-color: black;
}

.square.white {
	background-color: white;
}
